$borderRadius: 3px;
$cusColor: #4caf50;

@mixin changeBorder {
    border: none;
    outline: none;
    border-radius: $borderRadius;
}

@mixin changeHeight {
    height: 40px;
    line-height: 40px;
}

@mixin borderBottom {
    border-bottom: 1px solid #d9d9d9;
}

@mixin color {
    color: #4caf50;
}

@mixin bgColor {
    background-color: #4caf50;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: $cusColor;
    @include changeBorder;


    .city-selector-container {
        position: relative;

        .city-selector-input {
            width: 100%;
            height: 35px;
            padding: 0 8px;
            @include changeBorder;
        }

        .city-selector-body {
            display: none;
            position: absolute;
            top: 36px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 9;
            background: #fff;
            @include changeBorder;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2),
                0 6px 20px 0 rgba(0, 0, 0, .19);
            transition: all .3s ease-in-out;

            .city-selector-action {
                @include changeHeight;
                @include borderBottom;

                & .city-selector-title {
                    width: 77%;
                    margin: 0 auto;
                    text-align: center;
                    color: #666;
                    font-size: 15px;
                    font-weight: 400;
                }

                & .city-selector-btn {
                    width: 11.5%;
                    position: absolute;
                    top: 0;
                    font-size: 14px;
                    text-align: center;
                    letter-spacing: 1px;
                    cursor: pointer;
                    color: $cusColor;
                }

                & .city-selector-cancel {
                    left: 0;
                }

                & .city-selector-confirm {
                    right: 0;
                }
            }

            .city-selector-tabs {
                height: 40px;
                line-height: 38px;
                @include borderBottom;

                & .city-selector-tab {
                    display: inline-block;
                    margin: 0 10px;
                    max-width: 25%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 14px;
                    color: #333;
                    cursor: pointer;
                    border-bottom: 2px solid transparent;

                    &.active {
                        color: $cusColor;
                        border-bottom: 2px solid $cusColor;
                    }
                }


            }

            .city-selector-panels {

                &::after,
                &::before {
                    content: "";
                    display: table;
                }

                &::after {
                    clear: both;
                    zoom: 1;
                }

                .city-selector-panel {
                    float: left;
                    width: 50%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-height: 280px;
                    overflow-y: scroll;
                    -webkit-overflow-scrolling: touch;
                    overflow-x: hidden;
                    -ms-overflow-style: none;
                    overflow: -moz-scrollbars-none;

                    &::-webkit-scrollbar {
                        width: 0;
                    }


                    &>a {
                        display: block;
                        padding-left: 15px;
                        font-size: 14px;
                        color: #787878;
                        border-bottom: 1px solid #f5f5f5;
                        cursor: pointer;
                        @include changeHeight;

                        &.active {
                            color: $cusColor;
                            position: relative;

                            &::after {
                                content: "✔";
                                position: absolute;
                                right: 10px;
                                font-size: 20px;
                            }
                        }
                    }

                }

                .city-selector-city {
                    background: #f5f5f5;

                    &>a {
                        border-bottom: 1px solid #e9e9e9;
                    }
                }

                .city-selector-district {
                    display: none;
                }
            }

            .city-selector-error-tips {
                display: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                padding: 3px 10px;
                line-height: 30px;
                text-align: center;
                z-index: 9;
                border-radius: 4px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
                font-size: 16px;
                color: #fff;
                background-color: rgba(0, 0, 0, .5);
            }
        }
    }
}

@media screen and (max-width:786px) {

    body {
        // 解决移动端body无法点击的问题
        cursor: pointer;
    }

    .app {
        width: 100%;

        .city-selector-container {
            .city-selector-body {
                .city-selector-action {
                    .city-selector-title {
                        width: 70%;
                    }

                    .city-selector-btn {
                        width: 15%;
                    }
                }
            }
        }

    }
}

@media screen and (max-width:380px) {}
